name: Tests

on:
  push:
    paths-ignore:
      - 'docs/**'
    branches:
      - master
  pull_request:
    paths-ignore:
      - 'docs/**'
    branches:
      - '**'

jobs:
  Linting:
    name: Linting
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: "3.11"
      - name: "Install pre-commit"
        run: pip install pre-commit
      - name: "Install Rust toolchain"
        run: rustup component add rustfmt clippy
      - run: pre-commit run --all-files

  Tests:
    name: ${{ matrix.os }} / ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}-latest
    strategy:
      matrix:
        os: [Ubuntu, MacOS, Windows]
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
    defaults:
      run:
        shell: bash

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}
          allow-prereleases: true

      - name: Get full Python version
        id: full-python-version
        run: |
          echo version=$(python -c "import sys; print('-'.join(str(v) for v in sys.version_info))") >> $GITHUB_OUTPUT

      - name: Install poetry
        run: |
          pipx install poetry>=2

      - name: Configure poetry
        run: poetry config virtualenvs.in-project true

      - name: Set up cache
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        id: cache
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.full-python-version.outputs.version }}-${{ hashFiles('**/poetry.lock') }}

      - name: Ensure cache is healthy
        # MacOS does not come with `timeout` command out of the box
        if: steps.cache.outputs.cache-hit == 'true' && matrix.os != 'MacOS'
        run: timeout 10s poetry run pip --version || rm -rf .venv

      - name: Install runtime, testing, and typing dependencies
        run: poetry install --only main --only test --only typing --only build --no-root -vvv

      - name: Install project
        run: poetry run maturin develop

      - name: Run type checking
        run: poetry run mypy

      - name: Uninstall typing dependencies
        # This ensures pendulum runs without typing_extensions installed
        run: poetry sync --only main --only test --only build --no-root -vvv

      - name: Test Pure Python
        run: |
          PENDULUM_EXTENSIONS=0 poetry run pytest -q tests

      - name: Test
        run: |
          poetry run pytest -q tests
